# Python
data_pipeline/__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.mypy_cache/
*.pyc

# VSCode
.vscode/
*.code-workspace

# Environment
.env
.venv/
venv/

# Project specific
*.db
*.duckdb
*.duckdb.wal
data/
logs/
reports/
raw_data/
persons.duckdb
poetry.lock

# macOS
.DS_Store

# dbt packages and outputs
dbt_packages/
target/
logs/
.dbt/.user.yml
